* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #252525;
}

img {
  height: 320px;
  cursor: pointer;
  transition: 0.3s all ease;
}

img:hover {
  filter: grayscale(100%);
}

#root {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

#root div {
  margin: 5px;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:-5px;
    left: -5px;
    background: #000;
}

.selected {
    display:flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    height: 80vh;
}

.selected img {
    height:60vh;
    cursor: default;
}

.selected img:hover {
    filter: grayscale(0);
}

#thumbnails {
    flex: 1;
    display: flex;
    overflow: auto;
    height: 20vh;
}

#thumbnails img {
    height:15vh;
    margin: 5px;
}

.fa-times {
    position: fixed;
    color: #fff;
    top:10px;
    left:10px;
    font-size: 26px;
    cursor: pointer;
}